<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /bansaladmin/frontend/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
