<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a href="/admin/dashboard" class="ai-icon" aria-expanded="false">
          <i class="flaticon-381-settings-2"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/customer-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Student Management</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/course-list/all">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Course Management</span>
        </a>
      </li>
       <!-- <li class="nav-item">
        <a class="nav-link" href="/admin/course-subject-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Subject Management</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/course-chapter-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Chapter Management</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/course-topic-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Topic Management</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/admin/service-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Service Management</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/coupon-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Coupon Management</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/faculty-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Faculty Management</span>
        </a>
      </li>

      <li class="has-menu">
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Test Series Management</span>
        </a>
        <ul aria-expanded="false">
          <li class="nav-item">
            <a class="nav-link" href="/admin/test-series-list">Test Series List
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/exam-list">Exam List</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/live-test-list">
          <i class="fab fa-trello menu-icon"></i>
          <span class="menu-title">Live Test Management</span>
        </a>
      </li>

      <li class="has-menu">
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Setting</span>
        </a>
        <ul aria-expanded="false">
          <li class="nav-item">
            <a class="nav-link" href="/admin/roles-list">Roles Permisstion List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banner-list">Banner List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category-list">
              <span class="menu-title">Category List</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/admin/service-city-list">
              <span class="menu-title">Service City List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cms-list">CMS Page List</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/admin/about">About Us</a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link" href="/admin/privay-policy">Privacy Policy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/terms-condition"
              >Terms & Conditions</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/admin/blog-list">Blog List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/faq-list">FAQ List</a>
          </li>
        </ul>
      </li>

       <li class="has-menu">
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Booking</span>
        </a>
        <ul aria-expanded="false">
          <li class="nav-item">
            <a class="nav-link" href="/admin/course-bookings">Course Booking</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/admin/test-series-booking-list">Test Series Booking</a>
          </li>
          
        </ul>
      </li>

    </ul>
  </div>
</div>